<div class="navbar bg-dark">
  <div class="row">
    <div class="col">
      <a class="navbar-brand text-white">
        SPORTS STORE
      </a>
    </div>
    <div class="col text-white mr-1">
      <app-store-cart-summary></app-store-cart-summary>
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-3">
    <app-store-category-filter></app-store-category-filter>
  </div>
  <div class="col">
    <app-store-product-list></app-store-product-list>
    <app-store-pagination></app-store-pagination>
  </div>
</div>
